div {
	background-color: #f5f5f5;
	padding: 50px;
	text-align: center;
	font-family: Tahoma;
	border: 1px solid black;
	margin: 10px;
}
h1 {
	font-size: 35px;
	border: 1px solid black;
}
h2 {
	font-size: 24px;
}
h3{
	font-size: 18px;
	font-family: Verdana;
}
img {
	width: 190px;
}
p {
	text-align: center;
	line-height: 28px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
a {
	background-color: rgb(25, 174, 65);
	font-size: 14px;
	font-weight: bold;
	color:#ffffff;
	text-decoration: none;
	border-radius: 20px;
	padding: 10px;
	border: 1px solid black;

}
span {
	font-weight: bold;
	font-family: cursive;
}
